/* Global style */

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #262626;
}

button, input, textarea{
    font-family: inherit;
    border-radius: 10px;
    border: none;
    background-color: #3785c6;
    color:black;
    font-weight: 600;
}

input:hover, input:focus, input::selection, 
textarea:focus,textarea:focus, textarea::selection, 
button:hover, button:focus, button::selection{
    color: black;
    box-shadow: 0 5px 15px rgba(16, 165, 165, 0.4);
    outline: 2px solid #9327d1;
}

input {
    margin: 0.5em;
    padding: 0.5em;
    cursor:text;
}

span {
    color: #3785c6;
    border-bottom: 2px solid#3785c6;
}

i {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

input::placeholder, textarea::placeholder {
    color:black;
    font-weight: 500;
}

.form-format {
    display: flex;
    justify-content: center;
    align-items: center;
}

textarea {
    margin: 0.5em;
    padding: 0.5em 0 4em .2em;
    resize: vertical;
}

li {
    list-style: none;
    margin: 0 1em;
}

ul {
    margin: auto;
    padding: 0;
}

button {
    padding: .3em 2em;
    color: black;
    font-weight: 900;
    margin: 0 1em;
    cursor: pointer;
}

h1, h3, p {
    margin: .2em;
    padding: 0;
}

/* formatting */

.logo {
    height: 50px;
    max-width: auto;
    object-fit:cover;
    background-color: rgb(218, 218, 218);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo > a {
    background-color: white;
    padding: .5rem;
    border-radius: 10px;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
}

.wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0 0.5em 0;
    /* background-color: rgb(218, 218, 218); */
    
}

.wrap > li h1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0 0.5em 0;
    font-size: 1.5rem;
    /* background-color: rgb(218, 218, 218); */
    
}
.wrap-btn{
    display: flex;
    justify-content: center;
    margin: 1em 0;
}

.button-container > button {
    margin: .7em 1em
}

#submitKpi, #resetStats {
    display: block;
}
#addLead{
    margin-bottom: .5em;
}

.flex-container, form, #list{
    display: flex;
    width: 500px;
    margin: auto;
    flex-direction: column;
    background-color: white;
    word-wrap: break-word;
}

#nameContainer, #contactInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    word-wrap: break-word;
    align-items: end;
}

#list {
    background-color: rgb(218, 218, 218);
    overflow-y: scroll;
    height: 500px;
}

/* custom styling */

#nameContainer > h1, h3 {
    font-size: 1.4em;
    border-bottom: 1px solid #3785c6;
}

.editLead, .deleteLead {
    padding: 0.5em;
}

#contactInfo > h3 {
    font-size: 1em
}

#comments > p {
    font-weight: 500;
    margin-left: 1rem;
    white-space: pre-wrap;
}

.callBack {
    font-weight: 500;
}

.spacer {
    margin: 1em auto;
    border: 1px solid white;
    width: 75%;
    align-self: center;
}

.appear {
    display: none
}

/* media queries */

@media screen and (min-width: 768px) {
    body {
        background-color: white;
        background: no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
    }
    .logo > h1 {
        font-size: 1.2rem;
        padding: 1rem;
    }

    .logo > a {
        padding: .5rem;
        margin: 1rem;
    }
    
    .flex-container, form, #list{
        display: flex;
        width: 85%;
        flex-direction: column;
        word-wrap: break-word;
        background-color: rgb(218, 218, 218);
        overflow-y: unset;
        height: auto;
    }
    
    .name-container{
        margin: auto;
    }
    
    textarea {
        margin: 0.5em 6.0586em;
    } 
    
    .callBack {
        margin: auto;
    }

    .wrap {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 1em 1em;
        background-color: rgb(218, 218, 218);
        font-size: .7rem;
        background-color: #fff;
        border-radius: 10px
    }
    .wrap li {
        background-color: #fff;
        
    }
    button {
        padding: 0.1rem 1rem;
        margin: 0.2rem;
    }
    .button-container {
         display: flex;
    }
    
    input {
        padding: 0.35em;
    }

    ul, header, li, nav {
        margin: auto;
        background-color: rgb(218, 218, 218);
    }

    .wrap-btn {
        display: flex;
        justify-content: center;
        padding: 0.5em;
        margin: 0;
    }
    .editLead, .deleteLead {
        padding: 0.5em;
        padding: .3em 2em
    }
    
    #submitKpi {
        background-color: white;
    }

    #nameContainer, #contactInfo, #comments {
        display: flex;
        width: 70%;
        flex-direction: row;
        justify-content: space-evenly;
        word-wrap: break-word;
        margin: auto;
        align-items: center;
    }
    
    #nameContainer > h1, h3 {
        font-size: 1.4em;
        color: black;
        border: none;
        border-bottom:  #3785c6 solid;
        font-weight: 500;
        box-shadow: none;
    }

    #comments > p {
        width: 100%
    }

    .spacer {
        margin: .5em auto;
    }

    #addLead {
        padding: .5rem 1rem;
    }
    form > button, textarea {
        width: 40%;
        margin: auto;
        margin-bottom: 10px ;
    }
    #list, .list {
        width: 85%;
        background-color: whitesmoke;
    }
}

@media screen and (min-width: 1024px) {
    .wrap {
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1.5em 2em;
        background-color: rgb(218, 218, 218);
        font-size: .5rem;
        background-color: whitesmoke;
        border-radius: 10px
    }
    
    .logo > h1{
        font-size: 1.4rem;
    }
    .wrap li {
        background-color: whitesmoke;
        
    }
    button {
        padding: 0.1rem 1rem;
        margin: 0.2rem;
    }
  
    #addLead {
        padding: .5rem 1rem;
    }
    form > button, textarea {
        width: 40%;
    }
}

@media screen and (min-width: 1201px) {
    .wrap{
        padding: 2rem;
        font-size: .9rem;
    }
    button{
        padding: .5rem 2rem;
        margin: .5rem 1rem;
    }
}